@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css?family=Roboto:regular,500,700,900&display=swap");
@import url("https://unpkg.com/swiper@7/swiper-bundle.min.css");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
@font-face {
  font-family: "icons";
  src: url("../fonts/icons.ttf?91lax8") format("truetype"), url("../fonts/icons.woff?91lax8") format("woff"), url("../fonts/icons.svg?91lax8#icons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=_icon-]::before, [class*=" _icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icons" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-groop:before {
  content: "";
}

._icon-footer:before {
  content: "";
}

._icon-line:before {
  content: "";
}

._icon-logo:before {
  content: "";
}

._icon-next:before {
  content: "";
}

._icon-preview:before {
  content: "";
}

* {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}

.title {
  font-size: -webkit-calc(28px + 25 * ((100vw - 320px) / 1120));
  font-size: -moz-calc(28px + 25 * ((100vw - 320px) / 1120));
  font-size: calc(28px + 25 * ((100vw - 320px) / 1120));
  line-height: 84px;
  letter-spacing: 6.65px;
  text-transform: uppercase;
}

.subtitle {
  font-size: -webkit-calc(24px + 20 * ((100vw - 320px) / 1120));
  font-size: -moz-calc(24px + 20 * ((100vw - 320px) / 1120));
  font-size: calc(24px + 20 * ((100vw - 320px) / 1120));
  font-weight: 700;
  line-height: 70px;
  letter-spacing: 5.12px;
  text-transform: uppercase;
}

body {
  position: relative;
  font-family: "Roboto";
  font-weight: 500;
}
body.lock {
  overflow: hidden;
}

.header {
  background: url("../img/Block_01/01.jpg") 0 0/cover no-repeat;
  position: relative;
  padding: 0 0 44px 25px;
}

.header__backgraund {
  position: absolute;
  left: 0;
  bottom: -4.5%;
  z-index: 2;
}

.header__container {
  max-width: 1293px;
  padding: 0 20px;
  /* @media (max-width: $md5 + 12px) {
       max-width: none;
       padding: 0 10px;
   }*/
}
@media (max-width: 1305px) {
  .header__container {
    max-width: 1190px;
  }
}
@media (max-width: 991.98px) {
  .header__container {
    max-width: 890px;
  }
}
@media (max-width: 767.98px) {
  .header__container {
    max-width: none;
    padding: 0 10px;
  }
}
@media (max-width: 599.98px) {
  .header__container {
    max-width: none;
    padding: 0 10px;
  }
}
@media (max-width: 479.98px) {
  .header__container {
    max-width: none;
    padding: 0 10px;
  }
}

.header__top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 97px;
}

._icon-logo {
  font-size: -webkit-calc(26px + 8 * ((100vw - 320px) / 1120));
  font-size: -moz-calc(26px + 8 * ((100vw - 320px) / 1120));
  font-size: calc(26px + 8 * ((100vw - 320px) / 1120));
  margin: 0 30px 0 0;
  color: #FFFFFF;
}

.nav-header {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 46%;
     -moz-box-flex: 0;
      -ms-flex: 0 0 46%;
          flex: 0 0 46%;
}

.header__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.list-header__item:last-child {
  margin: 0 20px 0 0;
}

.list-header__link {
  display: block;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 10px;
}
.list-header__link:hover {
  color: #D7B9E4;
}

.header__burger {
  display: none;
}

.header__bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  gap: 68px;
  padding: 12px 0 0 0;
}

.img-header {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 62.5%;
     -moz-box-flex: 0;
      -ms-flex: 0 0 62.5%;
          flex: 0 0 62.5%;
  position: relative;
  padding: 0 0 55% 0;
}

.img-header__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.contant-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contant-header__title {
  font-weight: 900;
  color: #D7B9E4;
  margin: 0 0 13px 0;
}

.contant-header__text {
  line-height: 37px;
  letter-spacing: 0.24px;
  color: #FFFFFF;
  margin: 0 0 20px 0;
  font-size: -webkit-calc(18px + 3 * ((100vw - 320px) / 1120));
  font-size: -moz-calc(18px + 3 * ((100vw - 320px) / 1120));
  font-size: calc(18px + 3 * ((100vw - 320px) / 1120));
}

.contant-img {
  max-width: 100%;
}

.slider-top {
  background-color: #F4C3CC;
  padding: 90px 0;
  position: relative;
}

.slider-top__container {
  max-width: 1270px;
}

.slider-top__slide {
  /*display: flex;
  flex-direction: column;*/
}

.slide-slider-top__image {
  text-align: center;
  margin: 0 0 30px 0;
}
.slide-slider-top__image img {
  max-width: 100%;
}

.slide-slider-top__subtitle {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-weight: 400;
  font-size: 13px;
  line-height: 14px;
  letter-spacing: 2.08px;
  text-transform: uppercase;
  color: #EF3340;
  background: #FFFFFF;
  -webkit-border-radius: 30px;
     -moz-border-radius: 30px;
          border-radius: 30px;
  padding: 8px 15px;
  margin: 0 0 14px 0;
}

.slide-slider-top__title {
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 4.16px;
  text-transform: uppercase;
  font-size: -webkit-calc(18px + 8 * ((100vw - 320px) / 1120));
  font-size: -moz-calc(18px + 8 * ((100vw - 320px) / 1120));
  font-size: calc(18px + 8 * ((100vw - 320px) / 1120));
  margin: 0 0 18px 0;
}

.slide-slider-top__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.slide-slider-top__item:hover .slide-slider-top__link {
  color: #EF3340;
}
.slide-slider-top__item:hover .icon-line path {
  stroke: #EF3340;
}

.slide-slider-top__link {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-weight: normal;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  color: #000000;
  padding: 5px 5px 0 0;
  /*&:hover {
      color: #EF3340; 
      .icon-line {
          path {
              stroke: #EF3340;
          }
      }
  }*/
}

.slider-top-button__prev,
.slider-top-button__next {
  position: absolute;
  top: 36%;
}

.swiper-button-prev,
.swiper-button-next {
  background-color: #FFFFFF;
}
.swiper-button-prev:after,
.swiper-button-next:after {
  display: none;
}
.swiper-button-prev::before,
.swiper-button-next::before {
  contant: "";
  font-size: 24px;
  color: #000000;
}

.swiper-button-next {
  right: 0;
  -webkit-border-radius: 54px 0px 0px 54px;
     -moz-border-radius: 54px 0px 0px 54px;
          border-radius: 54px 0px 0px 54px;
  padding: 36px 17px 36px 36px;
}

.swiper-button-prev {
  left: 0;
  -webkit-border-radius: 0px 54px 54px 0px;
     -moz-border-radius: 0px 54px 54px 0px;
          border-radius: 0px 54px 54px 0px;
  padding: 36px 36px 36px 17px;
}

.cards {
  position: relative;
  padding: 100px 0 87px 0;
}

.cards__backgraund {
  position: absolute;
  z-index: 1;
  bottom: -10%;
  right: 0;
}
.cards__backgraund img {
  max-width: 100%;
}

.cards__container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

.columns-cards {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.columns-cards__left {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 46.3%;
     -moz-box-flex: 0;
      -ms-flex: 0 0 46.3%;
          flex: 0 0 46.3%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.columns-cards__left .columns-cards__item:first-child {
  margin: 0 0 104px 0;
}

.columns-cards__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 0 114px 0;
}
.columns-cards__item:last-child {
  margin: 0;
}

.item-cards__title {
  font-weight: 700;
  padding: 30px 0 0 40px;
}

.item-cards__img {
  position: relative;
  overflow: hidden;
  padding: 0 0 85.5% 0;
  margin: 40px 40px 69px 40px;
}
.item-cards__img img {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

._card-img {
  padding: 0 0 94.5% 0;
}

.item-cards__name {
  position: relative;
  z-index: 2;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 4.8px;
  text-transform: uppercase;
  font-size: -webkit-calc(18px + 12 * ((100vw - 320px) / 1120));
  font-size: -moz-calc(18px + 12 * ((100vw - 320px) / 1120));
  font-size: calc(18px + 12 * ((100vw - 320px) / 1120));
}

.columns-cards__right {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 46.3%;
     -moz-box-flex: 0;
      -ms-flex: 0 0 46.3%;
          flex: 0 0 46.3%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start;
}

.hotel {
  position: relative;
  background: #FFF4F0;
  padding: 99px 0;
}

.hotel__backgraund {
  position: absolute;
  top: 55%;
  left: 0;
  z-index: 1;
}

.hotel__container {
  max-width: 1390px;
  margin: 0 auto;
  padding: 0 20px;
}

.columns-hotel {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  gap: 95px;
}

.item-hotel__img {
  position: relative;
  padding: 0 0 49% 0;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 50%;
     -moz-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}
.item-hotel__img img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.item-hotel__contant {
  padding: 35px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.item-hotel__subtitle {
  position: relative;
  z-index: 2;
  margin: 0 0 10px 0;
  max-width: 500px;
}

.item-hotel__text {
  font-size: -webkit-calc(17px + 4 * ((100vw - 320px) / 1120));
  font-size: -moz-calc(17px + 4 * ((100vw - 320px) / 1120));
  font-size: calc(17px + 4 * ((100vw - 320px) / 1120));
  max-width: 510px;
  line-height: 33px;
  letter-spacing: 0.21px;
  word-spacing: 0.7px;
  margin: 0 0 26px 0;
}

.item-hotel__button {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start;
  background: #E16BA9;
  -webkit-border-radius: 50px;
     -moz-border-radius: 50px;
          border-radius: 50px;
  font-weight: bold;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 16px 40px;
}

.strip {
  background: #7BA4DB;
  padding: 15px 0;
  overflow: hidden;
}

.strip__columns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.strip__column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.column-strip__icon {
  margin: 0 40px 0 0;
}

._icon-groop {
  color: #2D3185;
  font-size: 38px;
}

.column-strip__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 15px;
  letter-spacing: 2.24px;
  text-transform: uppercase;
  color: #171C8F;
  margin: 0 44px 0 0;
}

.slider-bottom {
  padding: 95px 0 45px 0;
}

.slider-bottom__contant {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider-bottom__title {
  font-weight: 700;
  font-size: -webkit-calc(24px + 20 * ((100vw - 320px) / 1120));
  font-size: -moz-calc(24px + 20 * ((100vw - 320px) / 1120));
  font-size: calc(24px + 20 * ((100vw - 320px) / 1120));
  line-height: 70px;
  text-align: center;
  letter-spacing: 5.12px;
  text-transform: uppercase;
  margin: 0 0 22px 0;
}

.slider-bottom__text {
  font-weight: 400;
  font-size: -webkit-calc(15px + 3 * ((100vw - 320px) / 1120));
  font-size: -moz-calc(15px + 3 * ((100vw - 320px) / 1120));
  font-size: calc(15px + 3 * ((100vw - 320px) / 1120));
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.21px;
  margin: 0 0 28px 0;
}

.slider-bottom__subtext {
  font-weight: 700;
  font-size: 15px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  color: #000000;
  margin: 0 0 44px 0;
}

.slider-bottom__container {
  position: relative;
  max-width: 100%;
}

.slide-slider-bottom__image {
  position: relative;
  padding: 0 0 73% 0;
  text-align: center;
}
.slide-slider-bottom__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.slider-bottom-button__prev,
.slider-bottom-button__next {
  position: absolute;
  top: 45%;
}

.footer {
  background: #477A7B;
  padding: 45px 0 0 0;
}

.line {
  display: block;
  height: 1px;
  width: 100%;
  background: #91AFB0;
}

.top-footer {
  padding: 0 0 46px 0;
}

.footer__container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

.top-footer__title {
  font-weight: 700;
  font-size: 27px;
  line-height: 35px;
  letter-spacing: 4.32px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0 0 13px 0;
}

.top-footer__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 33px;
  letter-spacing: 0.21px;
  color: #FFFFFF;
}

.center-footer {
  padding: 42px 0;
}

.center-footer__columns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.center-footer__column {
  margin: 20px 30px 20px 0;
}

.center-footer__item {
  margin: 0 0 14px 0;
}

._icon-footer {
  font-size: 139px;
  color: #FFFFFF;
}

.center-footer__contact {
  display: block;
  font-weight: 400;
  font-size: 17px;
  line-height: 32px;
  letter-spacing: 0.19px;
  color: #FFFFFF;
}
.center-footer__contact:hover {
  color: #91AFB0;
}

.center-footer__link {
  display: block;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 5px;
}
.center-footer__link:hover {
  color: #91AFB0;
}

.bottom-footer {
  padding: 15px 0;
}

.bottom-footer__columns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.bottom-footer__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px 0;
}
.bottom-footer__item span {
  color: #FFFFFF;
  margin: 0 10px;
}

.bottom-footer__link {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.98px;
  text-transform: uppercase;
  color: #FFFFFF;
  white-space: nowrap;
  padding: 5px 0;
}
.bottom-footer__link:hover {
  color: #91AFB0;
}

.arrow__up {
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 15;
  display: none;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(153, 148, 148, 0.7);
  width: 60px;
  height: 60px;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
}

.arrow__link {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

@media (max-width: 991.98px) {
  .header__top {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }

  .nav-header {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .header__bottom {
    padding: 20px 0 0 0;
  }

  .title {
    line-height: 64px;
    letter-spacing: 5px;
  }

  .img-header {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }

  .columns-cards__item {
    margin: 0 0 80px 0;
  }

  .columns-cards__left .columns-cards__item:first-child {
    margin: 0 0 80px 0;
  }
}
@media (max-width: 767.98px) {
  .header__burger {
    position: relative;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 30px;
    height: 20px;
    top: 0;
    left: 0;
  }
  .header__burger::after, .header__burger::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #FFFFFF;
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger::after {
    bottom: 0;
  }
  .header__burger span {
    top: 50%;
    left: 0;
    -webkit-transform: translate 0, -50%;
       -moz-transform: translate 0, -50%;
        -ms-transform: translate 0, -50%;
         -o-transform: translate 0, -50%;
            transform: translate 0, -50%;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #FFFFFF;
  }

  .header__burger.active::before {
    content: "";
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.active::after {
    content: "";
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }
  .header__burger.active span {
    display: none;
  }

  .header__top {
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
  }
  .header__top::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #171C8F;
    height: 80px;
    z-index: 10;
  }

  .header {
    padding: 0 25px 45px;
  }

  .header__logo {
    position: relative;
    z-index: 10;
  }

  .header__burger {
    position: relative;
    z-index: 10;
  }

  .nav-header {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 100px 0 0 0;
    background-color: #171C8F;
    background: url("../../img/Block_01/Back-iPad.jpg") 0 0/cover no-repeat;
    z-index: 8;
    overflow: auto;
  }

  .nav-header.active {
    top: 0;
  }

  .list-header {
    position: relative;
    z-index: 8;
    display: block;
    text-align: center;
  }

  .list-header__link {
    font-size: 28px;
    padding: 15px;
    margin: 0 0 30px;
  }

  .header__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
       -moz-box-orient: vertical;
       -moz-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    text-align: center;
    gap: 20px;
  }

  .contant-header__img {
    display: none;
  }

  .columns-cards__item {
    margin: 0 0 50px 0;
  }

  .columns-cards__left .columns-cards__item:first-child {
    margin: 0 0 50px 0;
  }

  .item-cards__img {
    margin: 20px 20px 39px 20px;
  }

  .hotel {
    padding: 45px 0;
  }

  .subtitle {
    line-height: 50px;
  }

  .columns-hotel {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
       -moz-box-orient: vertical;
       -moz-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 20px;
  }

  .item-hotel__contant {
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }

  .item-hotel__button {
    -webkit-align-self: center;
        -ms-flex-item-align: center;
                -ms-grid-row-align: center;
            align-self: center;
  }

  .slide-slider-top__title {
    line-height: 28px;
  }

  .slider__bottom {
    padding: 50px 0;
  }

  .slider-bottom__title {
    line-height: 48px;
    margin: 0 0 15px 0;
  }

  .slider-bottom__text {
    line-height: 24px;
    margin: 0 0 15px 0;
  }

  .slider-bottom__subtext {
    margin: 0 0 15px 0;
  }

  .swiper-button-next {
    right: 0;
    -webkit-border-radius: 54px 0px 0px 54px;
       -moz-border-radius: 54px 0px 0px 54px;
            border-radius: 54px 0px 0px 54px;
    padding: 26px 17px 26px 26px;
  }

  .swiper-button-prev {
    left: 0;
    -webkit-border-radius: 0px 54px 54px 0px;
       -moz-border-radius: 0px 54px 54px 0px;
            border-radius: 0px 54px 54px 0px;
    padding: 26px 26px 26px 17px;
  }

  .swiper-button-prev::before,
.swiper-button-next::before {
    contant: "";
    font-size: 18px;
    color: #000000;
  }

  .center-footer__columns {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }

  .center-footer__column {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 40%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 40%;
            flex: 0 0 40%;
  }

  .center-footer__link {
    line-height: 15px;
  }

  .arrow__up {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (max-width: 599.98px) {
  .hotel__backgraund,
.cards__backgraund {
    display: none;
  }

  .header {
    padding: 0 15px 40px;
  }

  .header__backgraund {
    display: none;
  }

  .contant-header__title {
    line-height: 42px;
  }

  .contant-header__text {
    line-height: 30px;
  }

  .cards {
    padding: 40px 0;
  }

  .item-cards__title {
    padding: 0;
  }

  .item-cards__img {
    margin: 10px 10px 19px 10px;
  }

  .item-cards__name {
    line-height: 30px;
    letter-spacing: 2.8px;
  }

  .item-hotel__contant {
    padding: 0;
  }

  .item-hotel__text {
    line-height: 24px;
  }
}
@media (max-width: 479.98px) {
  .subtitle {
    line-height: 36px;
  }

  .center-footer {
    padding: 20px;
  }

  .center-footer__column {
    margin: 20px;
    text-align: center;
  }

  ._icon-footer {
    font-size: 100px;
  }
}