// Reset style =========================================================================================
@import "resetcss.scss";

// Icons Font ===========================================================================================
@import "iconsfont.scss";
// Fonts ===============================================================================================
@import url("https://fonts.googleapis.com/css?family=Roboto:regular,500,700,900&display=swap");

@import url("https://unpkg.com/swiper@7/swiper-bundle.min.css");
// Mixim ================================================================================================
$maxWidth: 1440;
@mixin adaptiv-font($pcSize, $mobSize) {
    $addSize: $pcSize - $mobSize;
    $maxWidth: $maxWidth - 320;
    font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}

// Variables ============================================================================================
$fontFamily: "Roboto";
$fontWeight: 500;

$minWidth: 320px;
$maxWidth: 1440;
$maxWidthContainer: 1293;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 599.98;
$md5: 479.98;


* {
    transition: 0.5s;
}

.title {
    @include adaptiv-font(53, 28);      
    line-height: 84px;
    letter-spacing: 6.65px;
    text-transform: uppercase;
}
.subtitle {
    @include adaptiv-font(44, 24); 
    font-weight: 700;    
    line-height: 70px;
    letter-spacing: 5.12px;
    text-transform: uppercase;
}

body {
    font-family: $fontFamily;
    font-weight: $fontWeight;    
}
body.lock {
    overflow: hidden;
}

// ======= header ================================================================================================
.header {
    background: url('../../img/Block_01/01.jpg')0 0/cover no-repeat;
    position: relative;
    padding: 0 0 44px 25px;
    //overflow-x: hidden;
    /*display: flex;
    justify-content: flex-start;*/
}
.header__backgraund {
    position: absolute;
    left: 0;
    bottom: -4.5%;
    z-index: 2;
}
.backgraund-header__img {
}
.container {
}
.header__container {
    max-width: $maxWidthContainer + px;   
    padding: 0 20px;
    @media (max-width: $md1 + px) {
            max-width: 1190px;
        }
    @media (max-width: $md2+px) {
            max-width: 890px;
        }
    @media (max-width: $md3+px) {
            max-width: none;
            padding: 0 10px;
        }
    @media (max-width: $md4+px) {
            max-width: none;
            padding: 0 10px;
        }
        @media (max-width: $md5+px) {
            max-width: none;
            padding: 0 10px;
        }
       /* @media (max-width: $md5 + 12px) {
            max-width: none;
            padding: 0 10px;
        }*/
}
.header__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 97px;
}
.header__logo {
}
._icon-logo {
    @include adaptiv-font(34, 26);   
    margin: 0 30px 0 0;
    color: #FFFFFF;
}
.header__nav {
}
.nav-header {
   flex: 0 0 46%;
}
.header__list {
    display: flex;
    justify-content: space-between;
}
.list-header {
}
.list-header__item {   
    &:last-child{
        margin: 0 20px 0 0;
    }
}
.list-header__link {
    display: block;
    font-size: 15px;
    line-height: 15px;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 10px;
    &:hover {
        color: #D7B9E4;
    }
}
.header__burger {
    display: none;
}
.header__bottom {
    display: flex;
   // align-items: center;  
    gap: 68px;
    padding: 12px 0 0 0;
}
.header__img {
}
.img-header {
    flex: 0 0 62.5%;
    position: relative;
    padding: 0 0 55% 0;
}
.img-header__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.header__contant {
}
.contant-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contant-header__title {   
    font-weight: 900; 
    color: #D7B9E4;
    margin: 0 0 13px 0;     
}
.contant-header__text {    
    line-height: 37px;
    letter-spacing: 0.24px;
    color: #FFFFFF;
    margin: 0 0 20px 0;
    @include adaptiv-font(21, 18);
}
.contant-header__img {
}
.contant-img {
    max-width: 100%;
}

// ==== slider-top ===============================================================================================xd0
.slider-top {
   background-color: #F4C3CC;
   padding: 90px 0;
   position: relative;
}
.swiper1{
    max-width: 1270px;
    height: 413px;
}
.slider-top__wrapper {
   // margin: 0 -22.5px;
  //@at-root min-width: 0;
   //display: flex;   
}
.slider-top__slide {
    //padding: 0 22.5px;
    /*display: flex;
    flex-direction: column;*/
}
.slide-slider-top__image {
   text-align: center;
   margin: 0 0 30px 0;
    img {
        max-width: 100%;
    }
}
.slide-slider-top__subtitle {
    display: inline-flex;
    font-weight: 400;
    font-size: 13px;
    line-height: 14px;
    letter-spacing: 2.08px;
    text-transform: uppercase;
    color: #EF3340;
    background: #FFFFFF;
    border-radius: 30px;
    padding: 8px 15px;
    margin: 0 0 14px 0;
}
.slide-slider-top__title {
    font-weight: 700;
    //font-size: 26px;
    line-height: 34px;
    letter-spacing: 4.16px;
    text-transform: uppercase;
    @include adaptiv-font(26, 18); 
    //color: #000000;
    margin: 0 0 18px 0;
}
.slide-slider-top__item {
    display: flex;
    flex-direction: column;
    &:hover {
        .slide-slider-top__link {
            color: #EF3340;
        }
        .icon-line {
            path {
                stroke: #EF3340;
            }
        }
    }   
}
.slide-slider-top__link {
    display: inline-flex;
    font-weight: normal;
    font-size: 15px;
    line-height: 15px;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    color: #000000;
    padding: 5px 5px 0 0;
    /*&:hover {
        color: #EF3340; 
        .icon-line {
            path {
                stroke: #EF3340;
            }
        }
    }*/
}
.icon-line {
   /* &:hover {
        .slide-slider-top__link {
            color: #EF3340; 
        }
    }    */
}
/*@keyframes animation-line {
    0% {        
        stroke: #FFFFFF;
        left: 0;
    }
    25% {
        stroke: #EF3340;
    }
    35% {
        stroke: #FFFFFF;
    }
    50% {
        stroke: #EF3340;
    }
    100% {
        stroke: #FFFFFF;
        left 100px;
    }
}*/
.slider-top-button__next { 
    position: absolute;
    right: 0;
    top: 36%;
    background-color: #FFFFFF;
        border-radius:  54px 0px 0px 54px;
        padding: 36px 17px 36px 36px;
    &:after {
        display: none;       
    }
    &::before {
        contant: '';
        font-size: 24px;
        color: #000000;
    }    
}
.slider-top-button__prev {
    position: absolute;
    left: 0;
    top: 36%;
    background-color: #FFFFFF;
    border-radius: 0px 54px 54px 0px;
    padding: 36px 36px 36px 17px;
    opacity: 1;         
    
    &::after {
        contant: '';
        display: none;
    }
    &::before {
        contant: '';
        color: #000000;
        font-size: 24px;
    }    
}

.slider-top-button__next {
}
.slider-top__pagination {
}
.slider-top__scrollbar {
}

// ===== cards ==================================================================================================

.cards {
    position: relative;
    padding: 100px 0 87px 0;
}
.cards__backgraund {
    position: absolute;
    z-index: 1;
    bottom: -10%;
    right: 0;
    img {
        max-width: 100%;
    }
}
.cards__container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
}
.cards__columns {
}
.columns-cards {
    display: flex;   
    justify-content: space-between;    
}
.columns-cards__left {
    flex: 0 0 46.3%;
    display: flex;
    flex-direction: column;
    .columns-cards__item {
        &:first-child {
            margin: 0 0 104px 0;
        }
    }
}
.columns-cards__item {
    display: flex;
    flex-direction: column;
    //padding: 40px 40px 0 40px;
    margin: 0 0 114px 0;    
    &:last-child {
        margin: 0;
    }
}
.item-cards__title {
    font-weight: 700;    
    padding: 30px 0 0 40px;
    //margin: 0 0 104px 0;  
}
.item-cards__img {
    position: relative;
    //flex: 0 0 475px;
    overflow: hidden;
    padding: 0 0 85.5% 0;
    margin: 40px 40px 69px 40px;
    img {
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
._card-img {
    padding: 0 0 94.5% 0;
}
.item-cards__name {
    position: relative;
    z-index: 2;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 4.8px;
    text-transform: uppercase;
    @include adaptiv-font(30, 18);    
    
}
.columns-cards__right {
    flex: 0 0 46.3%;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}

// ======== hotel ===============================================================================================

.hotel {
    position: relative;
    background: #FFF4F0;
    padding: 99px 0;
}
.hotel__backgraund {
    position: absolute;
    top: 55%;
    left: 0;
    z-index: 1;
}
.hotel__container {
    max-width: 1390px;
    margin: 0 auto;
    padding: 0 20px;
}
.hotel__columns {
}   
.columns-hotel {
    display: flex;
    gap: 95px;
}
.item-hotel__img {
    position: relative;
    padding: 0 0 49% 0;
    flex: 0 0 50%;
    img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.item-hotel__contant {
    padding: 35px 0;  
    display: flex;
    flex-direction: column;   
}
.item-hotel__subtitle {   
    position: relative;
    z-index: 2;
    margin: 0 0 10px 0;
    max-width: 500px;
}
.item-hotel__text {
    @include adaptiv-font(21, 17);   
    max-width: 510px;  
    line-height: 33px;
    letter-spacing: 0.21px;
    word-spacing: 0.7px;
    margin: 0 0 26px 0;
}
.item-hotel__button {
    display: inline-flex;
    align-self: flex-start;
    background: #E16BA9;
    border-radius: 50px;
    font-weight: bold;
    font-size: 15px;
    line-height: 15px;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 16px 40px;
}

// ======== strip =================================================================================================
.strip {
    background: #7BA4DB;
    padding: 15px 0;
    overflow: hidden;
}
.strip__columns {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.strip__column {
    display: flex;
    align-items: center;
}
.column-strip__icon {
    margin: 0 40px 0 0;
}
._icon-groop {
        color: #2D3185;
        font-size: 38px;
}
.column-strip__text {
    font-weight: normal;
    font-size: 14px;
    line-height: 15px;
    letter-spacing: 2.24px;
    text-transform: uppercase;
    color: #171C8F;
    margin: 0 44px 0 0;
}

// ==== slider__bottom =================================================================================================

.slider-bottom {
    padding: 95px 0 45px 0;
}
.slider-bottom__contant {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.slider-bottom__title {
    font-weight: 700;
    font-size: 44px;
    line-height: 70px;    
    text-align: center;
    letter-spacing: 5.12px;
    text-transform: uppercase;
    margin: 0 0 22px 0;
}
.slider-bottom__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    text-align: center;
    letter-spacing: 0.21px;
    margin: 0 0 28px 0;
}
.slider-bottom__subtext {
    font-weight: 700;
    font-size: 15px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    color: #000000;
    margin: 0 0 44px 0;
}
.swiper2 {
    max-width: 100%;
    min-height: 331px;
}
.swiper {
}
.slider-bottom__wrapper {
}
.swiper-wrapper {
}
.slider-bottom__slide {
}
.swiper-slide {
}
.slide-slider-bottom__image {
    position: relative;
    padding: 0 0 70% 0;
    text-align: center;
    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
}
}
.slide-slider-bottom__link {
}
.slider-top-button__prev {
}
._icon-preview {
}
.swiper-button-prev {
}
.slider-top-button__next {
}
._icon-next {
}
.swiper-button-next {
}
.slider-top__pagination {
}
.slider-top__scrollbar {
}

// ====== footer =============================================================================================================================

.footer {
    background:#477A7B;
    padding: 45px 0 0 0;
   // display: flex;
}
.line {
    display: block;
    height: 1px;
    width: 100%;
    background: #91AFB0;
}
.footer__top {
}
.top-footer {
    padding: 0 0 46px 0;
}
.footer__container {
    max-width: 1200px;
    margin: 0 auto;
}
.top-footer__contant {
}
.top-footer__title {
    font-weight: 700;
    font-size: 27px;
    line-height: 35px;    
    letter-spacing: 4.32px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0 0 13px 0;
}
.top-footer__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;    
    letter-spacing: 0.21px;
    color: #FFFFFF;
}
.footer__centre {
}
.center-footer {
    padding: 62px 0;
}
.center-footer__columns {
    display: flex;
    justify-content: space-between;
}
.center-footer__column {
}
.center-footer__item {
    margin: 0 0 14px 0;
}
.center-footer__img {
}
._icon-footer {
    font-size: 139px;
    color: #FFFFFF;
}
.center-footer__contact {
    display: block;
    font-weight: 400;
    font-size: 17px;
    line-height: 32px;
    letter-spacing: 0.19px;
    color: #FFFFFF;
    &:hover {
        color: #91AFB0;
    }
}
.center-footer__link{
    display: block;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;    
    letter-spacing: 2.4px;
    text-transform: uppercase;
    color: #FFFFFF; 
    padding: 5px;   
    &:hover {
        color: #91AFB0;
    }
}
.footer__bottom {
}
.bottom-footer {
    padding: 25px 0;
}
.bottom-footer__columns {
    display: flex;
    //justify-content: space-between;
}
.bottom-footer__item {
    span {
        color: #FFFFFF;
        margin: 0 10px;
    }
}
.bottom-footer__link {
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;    
    letter-spacing: 0.98px;
    text-transform: uppercase;
    color: #FFFFFF;
    &:hover {
        color: #91AFB0;
    }
}

@media (max-width: $md2+px) {
    // ======== header =====================================================================================================
    .header__top {
        flex-wrap: wrap;
    }
    .nav-header{
        flex: 0 0 100%;
    }
    
    .header__bottom {
        padding: 20px 0 0 0;
    }
    .title {
        line-height: 64px;
        letter-spacing: 5px;
    }
    .img-header {
        flex: 0 0 50%;
    }

    // ======= cards ==========================================================================================

    .columns-cards__item {
        margin: 0 0 80px 0;
    }
    .columns-cards__left {
        .columns-cards__item {
            &:first-child {
                margin: 0 0 80px 0;
            }
        }
    }    
}

@media (max-width: $md3+px) {
    // ========= header__burger ======================================================================================
    .header__burger {
        position: relative;
        display: inline-flex;
        width: 30px;
        height: 20px;
        top: 0;
        left: 0;
        &::after,
        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: #FFFFFF;
        }
        &::before {            
            top: 0;            
        }
        &::after {           
            bottom: 0;           
        }
        span {
            top: 50%;
            left: 0;
            transform: translate (0, -50%);
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: #FFFFFF;
        }
        
    }
    .header__burger.active {
        &::before {
            content: '';
            transform: rotate(45deg);
            top: 9px;
        }
        &::after {
            content: '';
            transform: rotate(-45deg);
            bottom: 9px;
        }
        span {
            display: none;
        }
    }
    // ==================================================================================================================
    .header__top {
        flex-wrap: nowrap;
    }
    .header {
        padding: 0 25px 45px;
        
    }
    .header__logo {
        position: relative;
        z-index: 10;
    }
    .header__burger {
        position: relative;
        z-index: 10;
    }
    .nav-header {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 100px 0 0 0;
        background-color: #171C8F;
        z-index: 8;
    }
    .nav-header.active {
        top: 0;  
        &::before {
            content: '';
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            background-color: #171C8F;
            height: 80px;
            z-index: 10;
        }      
    }
    .list-header {
        position: relative;
        z-index: 8;
        display: block;        
        text-align: center;
    }
    .list-header__link {
        font-size: 28px;
        padding: 15px;
        margin: 0 0 30px;
    }
    .header__bottom {
        flex-direction: column-reverse;
        text-align: center;
        gap: 20px;
    }
    .contant-header__img {
        display: none;
    }

    // ====== slider-top ==================================================================================
    .slide-slider-top__title {
        //font-weight: 700;
        //font-size: 26px;
        line-height: 28px;
    }

    // ========= cards ====================================================================================
    .columns-cards__item {
        margin: 0 0 50px 0;
    }
    .columns-cards__left {
        .columns-cards__item {
            &:first-child {
                margin: 0 0 50px 0;
            }
        }
    }
    .item-cards__img {
        margin: 20px 20px 39px 20px;
    }

    // ======= hotel =======================================================================================
    .hotel {
        padding: 45px 0;
    }
    .subtitle {
        line-height: 50px;
    }
    .columns-hotel {
        flex-direction: column-reverse;
        gap: 20px;
    }
    .item-hotel__contant {
        align-items: center;
        text-align: center;
    }
    .item-hotel__button {
        align-self: center;
    }
}

@media (max-width: $md4+px) {
    .hotel__backgraund,
    .cards__backgraund {
        display: none;
    }
    // ======= header ========================================================================================
    .header {
        padding: 0 15px 40px;
    }
    .header__backgraund {
        display: none;
    }
    .contant-header__title {
        line-height: 42px;
    }
    .contant-header__text {
        line-height: 30px;
    }

    // ====== cards ============================================================================================
    .cards {
        padding: 40px 0;
    }    
    .item-cards__title {
        padding: 0;
    }
    .item-cards__img {
        margin: 10px 10px 19px 10px;
    }
    .item-cards__name {        
        line-height: 30px;
        letter-spacing: 2.8px;
    }

    // ======= hotel ============================================================================================
    .item-hotel__contant {
        padding: 0;
    }
    .item-hotel__text {
        line-height: 24px;
    }
}

@media (max-width: $md5+px) {
    // ======= hotel ============================================================================================
    .subtitle {
        line-height: 36px;
    }
}



